<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="container">

  <h1 class="center-align">Bienvenido a la Página de Inicio</h1>

  <div class="row center-align">
    <a href="/about" class="btn waves-effect teal">
      <i class="material-icons left">info</i> Acerca de
    </a>
    <a href="/contact" class="btn waves-effect orange">
      <i class="material-icons left">email</i> Contacto
    </a>
    <a href="/admin" class="btn waves-effect grey darken-1">
      <i class="material-icons left">settings</i> Admin
    </a>
    <a href="/videogames" class="btn waves-effect blue darken-1">
        <i class="material-icons left">games</i> Videojuegos
      </a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.j
